@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}
*{
    font-family: Poppins-Medium !important;
}
div.dataTables_wrapper div.dataTables_length label, table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty,
.dataTables_info, div.dataTables_wrapper div.dataTables_filter{
    text-transform: capitalize !important;
    font-weight: 400 !important;
    color: #36454F !important;
}
.dataTables_paginate .pagination .paginate_button{
    margin: 0 !important;
    padding: 0 !important;
}
.dataTables_paginate .pagination .paginate_button.page-item.active:hover{
    border-color: transparent !important;
}
.dataTables_paginate .pagination .paginate_button.disabled a{
    background: #808080 !important;
    color: #fff !important;
    cursor: not-allowed !important;
}
.dataTables_paginate .pagination .paginate_button.disabled{
    cursor: not-allowed !important;
}
div.dataTables_wrapper div.dataTables_length select option{
    text-align: center !important;
}
table th{
    color: #1B1212 !important;
    font-weight: 700 !important;
    padding: 1.1em !important;
}
table th:hover{
    transition-timing-function: ease-in;
    transition: all 2s;
    border-left: 1px dashed black !important;
    border-right: 1px dashed black !important;
}
table td{
    color: #353935 !important;
    padding: 1.1em !important;
}
.dataTables_length{
    width: 25%;
    float: left;
}
.dt-buttons{
    position: relative;
    width: 50%;
}
.dataTables_filter{
    width: 25%;
    float: right;
}
.w-100{
    width: 100% !important;
}
.ck-editor__editable[role="textbox"] {
    color: #070504 !important;
    min-height: 18em;
}
.f-16{
    height: 16px !important;
}
.f-32{
    font-size: 32px !important;
}
#section-accordion{
    height: 74.8vh;
    overflow-y: auto;
}
#question-accordion{
    height: 74.8vh;
    overflow-y: auto;
}
.order-position span{
    cursor: move !important;
}
.opacity {
    opacity: 1 !important;
    font-weight: bolder !important;
    color: #050202 !important;
}
p{
    color: #070504 !important;
}
.floating-timer, .ui-draggable.ui-draggable-handle{
    position: fixed !important;
    top: 1vh;
    right: 1vw;
    width: 20% !important;
    z-index: 10 !important;
    opacity: 0.8;
    cursor: move;
}
li.paginate_button, li.paginate_button:hover{
    border: none !important;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .floating-timer, .ui-draggable.ui-draggable-handle{
        width: 45% !important;
    }
}
@media screen and (max-width: 768px) {

    .floating-timer, .ui-draggable.ui-draggable-handle{
        width: 65% !important;
    }

}
@media (max-width: 700px) {
    .dataTables_length{
        width: 100%;
    }
    .dt-buttons{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1em;
    }
    .dataTables_filter{
        width: 100%;
    }
}