@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}
*{
    font-family: Poppins-Medium !important;
}
.w-100{
    width: 100% !important;
}
body{
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
p{
    color: #070504 !important;
}